@media (max-width:767px) {
    body{
       background-color: #dbdbdb;
    }
}
a{
    color: rgb(167, 167, 167) !important;
}

a:focus, a:hover {
    text-decoration: none;
}

.__full-white{
    color: white;
}
.__head{
    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 9px;
}
.__second-head{

}
.__appbar{
    padding-top: 10px;
    background-color:  rgb(3, 72, 128);
    width: 100%;
}
.__appitems{
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.__flex-content{
    display:flex;
}

.__navmenu{
    overflow-x: auto;
    color: white;
    list-style-type:none;
    margin-left: -30px;
}
.__navmenu::-webkit-scrollbar {
    display: none !important;
}
.__navmenu li{
    margin-right: 18px;
    min-width: fit-content;

}

.active a{
    color:white !important;
}

.active{
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.__title{
    margin-left: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.__contentbody{
    margin-left: 10px;
    margin-right: 10px;
}
.__nodata{
    text-align: center;
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    font-weight: 700;
}
.__buttonResearch{
    margin-top: 94px;
}
.__buttonResearch button{
    padding: 10px;
    width: 213px;
    color: green;
    font-weight: 400;
    border: none;
    box-shadow: -1px 1px 3px darkgrey;
    border-radius: 3px;
}
.__emptyIcon{
    color: #b5b5b5;
    font-size: 3.5em !important;
}
.__notificationIcon{
    margin-right: 22px;
}
.__searchIcon{
    margin-right: 12px;
}
.__hamburgermenu{
    margin-top: 3px;
}


/* products styling */
.__justify-between{
    justify-content: space-between;
}
.__productImg img{
    width: 6.2em;
}
.__productTitle{
    font-weight: 700;
}
.__subTitle{
    color:#b5b5b5
}
.__oldPrice{
    text-decoration: line-through;

}
.__description{
    font-size: 11px;
    margin-top: 10px;
}
.__description{
    margin-left: 10px;
}
.__price{
    margin-top: 10px;
}
.__instock{
    margin-top: 5px;
}
.__relative-content{
    position: relative;
}
.__actionMenu{
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
}
hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.dropdown-menu{
    left: unset !important;
    right: 0 !important;
    margin-top: -5px;
    background-clip: unset;
    border-radius:unset !important;
    border: unset !important;
}
.dropdown-menu>li>a{
    color: rgb(0, 0, 0) !important;
    font-size: 12px !important;
    padding-top: 5px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}
.__outOfstock{
    color: rgb(253, 123, 123);
}


/* details styling */
.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5rem; 
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff; 
    padding-bottom: inherit;
  } 
   
  .preview { 
    background-color: #fff; 
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 1rem; 
    border-bottom: 1px solid #e5e5e5;

  } 
   
  .preview p { 
    font-size: 10px; 
  } 
   
  ._padding1 { 
    padding: 1rem; 
    border-bottom: 1px solid #d5d2d2;
  } 
   
  .heading2 { 
    text-align: center; 
    padding: 1rem; 
  } 
   
  .product-image { 
    padding-right: 1.2rem; 
  } 
   
  .product-image img { 
    width: 90px; 
    height: 90px; 
  } 
   
  .product-details { 
  } 
   
  .d { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  } 
   
  .d p { 
    font-size: 10px; 
  } 
   
  .left { 
    padding-right: 8rem; 
  } 
   
  .right { 
    display: flex; 
    align-items: flex-end; 
    flex-direction: column; 
  }

  .__containerDescription{
      background-color: #e7e7e7;
  }
  .__border-bottom{
    border-bottom: 1px solid #d3d3d3;
    margin-top: 8px;
  }